<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>树莓派Web控制中心</title>
</head>
<body>
    <div class="container">
        <div class="page-header" align="center">
            <h3>树莓派Web控制中心</h3>
            <p class="lead">用于控制连接到树莓派的各种传感器</p>
        </div>
        <div class="led-control" align="center">
            <form action="" method="post">
                <input type="submit" value="on" name="led">
            </form>
            <form action="" method="post">
                <input type="submit" value="off" name="led">
            </form>
        </div>
    </div>
</body>
</html>